/*
 * Tine 2.0
 * 
 * @package     Setup
 * @license     http://www.gnu.org/licenses/agpl.html AGPL Version 3
 * @author      Cornelius Weiss <c.weiss@metaways.de>
 * @copyright   Copyright (c) 2009 Metaways Infosystems GmbH (http://www.metaways.de)
 * @version     $Id$
 *
 */
 

.setup_info {
    background-image:url(../../images/oxygen/16x16/actions/help-about.png) !important;
}
.x-btn-medium .setup_info {
    background-image:url(../../images/oxygen/22x22/actions/help-about.png) !important;
}
.x-btn-large .setup_info {
    background-image:url(../../images/oxygen/32x32/actions/help-about.png) !important;
}


.setup_action_install {
    background-image:url(../../images/oxygen/16x16/actions/list-add.png) !important;
}
.x-btn-medium .setup_action_install {
    background-image:url(../../images/oxygen/22x22/actions/list-add.png) !important;
}
.x-btn-large .setup_action_install {
    background-image:url(../../images/oxygen/32x32/actions/list-add.png) !important;
}


.setup_action_uninstall {
    background-image:url(../../images/oxygen/16x16/actions/list-remove.png) !important;
}
.x-btn-medium .setup_action_uninstall {
    background-image:url(../../images/oxygen/22x22/actions/list-remove.png) !important;
}
.x-btn-large .setup_action_uninstall {
    background-image:url(../../images/oxygen/32x32/actions/list-remove.png) !important;
}


.setup_action_update {
    background-image:url(../../images/oxygen/16x16/apps/system-software-update.png) !important;
}
.x-btn-medium .setup_action_update {
    background-image:url(../../images/oxygen/22x22/apps/system-software-update.png) !important;
}
.x-btn-large .setup_action_update {
    background-image:url(../../images/oxygen/32x32/apps/system-software-update.png) !important;
}


.setup_checks_success {
    background-image:url(../../images/oxygen/16x16/actions/dialog-ok-apply.png) !important;
}
.x-btn-medium .setup_checks_success {
    background-image:url(../../images/oxygen/22x22/actions/dialog-ok-apply.png) !important;
}
.x-btn-large .setup_checks_success {
    background-image:url(../../images/oxygen/32x32/actions/dialog-ok-apply.png) !important;
}


.setup_checks_fail {
    background-image:url(../../images/oxygen/16x16/actions/dialog-error.png) !important;
}
.x-btn-medium .setup_checks_fail {
    background-image:url(../../images/oxygen/22x22/actions/dialog-error.png) !important;
}
.x-btn-large .setup_checks_fail {
    background-image:url(../../images/oxygen/32x32/actions/dialog-error.png) !important;
}


.setup_authentication_manager {
    background-image:url(../../images/oxygen/16x16/status/dialog-password.png) !important;
}
.x-btn-medium .setup_authentication_manager {
    background-image:url(../../images/oxygen/22x22/status/dialog-password.png) !important;
}
.x-btn-large .setup_authentication_manager {
    background-image:url(../../images/oxygen/32x32/status/dialog-password.png) !important;
}


.setup_config_manager {
    background-image:url(../../images/oxygen/16x16/apps/package-utilities.png) !important;
}
.x-btn-medium .setup_config_manager {
    background-image:url(../../images/oxygen/22x22/apps/package-utilities.png) !important;
}
.x-btn-large .setup_config_manager {
    background-image:url(../../images/oxygen/32x32/apps/package-utilities.png) !important;
}


.setup_application_manager {
    background-image:url(../../images/oxygen/16x16/apps/systemtray.png) !important;
}
.x-btn-medium .setup_application_manager {
    background-image:url(../../images/oxygen/22x22/apps/systemtray.png) !important;
}
.x-btn-large .setup_application_manager {
    background-image:url(../../images/oxygen/32x32/apps/systemtray.png) !important;
}


.setup_action_save_config {
    background-image:url(../../images/oxygen/16x16/actions/document-save.png) !important;
}
.x-btn-medium .setup_action_save_config {
    background-image:url(../../images/oxygen/22x22/actions/document-save.png) !important;
}
.x-btn-large .setup_action_save_config {
    background-image:url(../../images/oxygen/32x32/actions/document-save.png) !important;
}


.setup_action_download_config {
    background-image:url(../../images/oxygen/16x16/actions/mail-get.png) !important;
}
.x-btn-medium .setup_action_download_config {
    background-image:url(../../images/oxygen/22x22/actions/mail-get.png) !important;
}
.x-btn-large .setup_action_download_config {
    background-image:url(../../images/oxygen/32x32/actions/mail-get.png) !important;
}
.x-window {
    background-color: #e4e4e4 !important;
    border: solid 3px #024;
    border-radius: 7px;
    -moz-border-radius: 7px;
}
.x-window .x-window-bwrap {
    border: none !important;
    border-image: none !important;
    background-color: transparent !important;
    background-image: none !important;
}
.x-window-tl, .x-window-tr, .x-window-tc, .x-window-ml, .x-window-mr, .x-window-mc, .x-window-bl, .x-window-br, .x-window-bc {
    border-color: transparent;
    background-color: transparent !important;
    background-image: none;
}
.tine-browser-compatibility {
    background-color: transparent;
    border-color: transparent !important;
    margin-top: -10px;
    z-index: 1000;
    margin-right: -10px;
}


/******************************************************************************/
.tine-browser-compatibility {
    background-color: transparent;
    border-color: transparent !important;
    margin-top: -10px;
    z-index: 1000;
    margin-right: -10px;
}
.x-tab-strip li.tine-browser-compatibility a.x-tab-strip-close, .x-tab-strip li.tine-browser-compatibility a.x-tab-strip-close:hover {
    background-image: url(../images/expresso/triangulo2.png);
    height: 20px;
    width: 20px;
    top: 8px;
}
.tine-mainscreen-warningbox-title {
    height: 16px;
    float: left;
    padding-left: 20px;
    font-weight: bold;
    color: #336;
    padding-right: 20px;
}
.x-tab-strip li.tine-browser-compatibility a.x-tab-right {
    height: 33px;
}
.tb-warning-bar {
    width: 100%;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    background-color: #ffc;
}
.tine-mainscreen-warningbox {
    opacity: 0.95;
    text-align: center;
    padding: 0 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.tine-mainscreen-warningbox-link {
    margin-left: 15px;
}
.tb-login-browserversionpanel {
    position: absolute;
    top: 0px !important;
    left: 0px !important;
    background-color: #ffc !important;
    width: 100%;
    height: 21px;
}
.x-window-wdlg {
    opacity: 0.75;
    background-color: #ffc !important;
    width: 99% !important;
}
.x-window-wdlg .x-window-bwrap {
    margin-top: -23px;
    margin-right: 30px;
}
.x-window-wdlg .x-window-bwrap .x-window-body {
    width: 100% !important;
    padding: 3px 10px !important;
}
.x-window-wdlg .ext-mb-content {
    background-size: 14px 14px;
    margin-right: 20px;
    color: #c00;
}
.x-window-wdlg {
    border: solid 1px #000 !important;
    border-radius: 0px !important;
}
.x-window-wdlg .x-window-tl .x-window-header {
    padding-top: 3px;
}
.x-window-wdlg .x-window-bwrap .x-window-bl {
    display: none;
}
#compatwarning button {
    background-size: 16px 16px;
}
.x-btn .x-btn-icon-small-left {
    border: solid 2px #68a !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
    background-image: url(/themes/serpro/resources/images/expresso/button/btn.gif);
}
.x-tool {
    background-image: url(/themes/serpro/resources/images/default/panel/tool-sprites.gif);
}

.tb-compatwarning-tinepanel {
    display: block;
    position: absolute;
    top: 6px;
    right: 9px;
    left: auto;
}
.tb-compatwarning-tinepanel a {
    margin-top: -5px;
    color: white;
    font-family: tahoma, arial, helvetica, sans-serif !important;
    font-size: 15px;
    text-decoration: none;
}
.tb-compatwarning-tinepanel img {
    width: 24px !important;
    height: 24px !important;
}
.tb-compatwarning-tinepanel span {
    vertical-align: top;
    line-height: 160%;
    padding-left: 10px;
}
.tb-compatwarning-tinepanel #compatwarning {
    border: solid 0px transparent !important;
}
.tb-compatwarning-tinepanel .x-btn-small {
    border: solid 0px transparent !important;
}
.tb-compatwarning-tinepanel .x-btn-tl,
.tb-compatwarning-tinepanel .x-btn-tc,
.tb-compatwarning-tinepanel .x-btn-tr,
.tb-compatwarning-tinepanel .x-btn-ml,
.tb-compatwarning-tinepanel .x-btn-mc,
.tb-compatwarning-tinepanel .x-btn-mr,
.tb-compatwarning-tinepanel .x-btn-bl,
.tb-compatwarning-tinepanel .x-btn-bc,
.tb-compatwarning-tinepanel .x-btn-br {
    background-image: none !important;
}
